<div class="content">
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>

            <li><a href="/price_plans">Price plan</a></li>
        </ul>
    </nav>

    <form action="/calc_bill" method="POST">
        <div class="calc_bill">
            <h1>Calculate phone bill</h1>

            <div class="cal_name">
                <h3>Username</h3>
                <input type="text" name="text_name" class="namee" value="" placeholder="Please Enter Name Here">
            </div>

            <div class="cal_usage">
                <h3>Usage string</h3>
                <input type="text" name="text_name" class="usage" value="" placeholder="Please Enter Name Here">
            </div>

            <div class="btn1">
                <button class="button" type="submit" name="" value="">Calculate Total Phone Bill</button>
            </div>

            <div class="total">
                <h3>Phone Bill Total</h3>
                <div class="total1"> </div>
            </div>

            

        </div>
    </form>
</div>