<div>
    <nav class="navbar">
        <ul>
            <li><a href="/">Home</a></li>

            <li><a href="./calc_bill">Calculate Bill</a></li>
        </ul>
    </nav>

    <form action="/price_plans" method="get">
        <div class="price_plans">
            <h1>Price Plans</h1>
            <div class="space"> SMS 100 <a href="">View Users</a> </div>
            <div class="space"> Calls 100 <a href="">View Users</a> </div>
            <div class="space"> text-me <a href="">View Users</a> </div>
        </div>
    </form>
</div>